* {
    box-sizing: border-box;
}

body {
    margin: 30px;
}
.navbar-nav {
    background-color: blueviolet;
    margin-left: 80%;
}

.navbar-brand {
    background-color: cadetblue;
    font-weight: 600;
}

.container {
    margin-top: 10px;
    background-color: cornflowerblue;
    border: 1px solid black;
}

#placeholderImg {
    margin: 50px;
    float: left;
}

#placeholderPar {
    margin: 30px;
    float: right;
}

.row p {
    margin: 30px;
}

.col-lg-6 img {
    margin: 30px;
}

@media screen and (max-width: 600px) {
    .container {
        background-color: red;
        text-align: center;
    }

}