* {
    box-sizing: border-box;
}

body {
    background-image: url(./assets/images/backgroundImage.jpg);
    margin: 30px;
}
.navbar-nav {
    background-color: blueviolet;
    margin-right: auto;
}

.navbar-brand {
    background-color: cadetblue;
    font-weight: 600;
}

.container {
    margin-top: 10px;
    background-color: cornflowerblue;
    border: 1px solid black;
}

#placeholderImg {
    margin: auto;
    margin: 30px;
    float: left;
    display: block;
    height: 275px;
    width: 250px;
}

#placeholderPar {
    margin: 30px;
    float: right;
}

.row p {
    margin: 30px;
}

.col-lg-6 img {
    margin: auto;
    margin-bottom: 30px;
    display: block;
}

h1 {
    text-align: center;
}

@media screen and (max-width: 600px) {
    .container {
        text-align: center;
    }
    #placeholderImg {
        height: 20%;
        width: 20%
    }

}